.video-item{"data-target" => "#videoCarouselModal", "data-toggle" => "modal", "data-video-link" => "#{videolink}", "data-video-title" => "#{title}"}
  = image_tag "#{photourl}", class: "video-photo", alt: "Gitlab video photo jpg"
  %h4= title
    
