---
layout: handbook-page-toc
title: "Create Stage"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

# Welcome 

Welcome to the Create Stage! 

# Meet Our Team Members

* [Darva Satcher](/company/team/#dsatcher) - Senior Manager, Development (Interim)
* [Lukas Eipert](/company/team/#leipert) - Frontend Engineering Manager, Create:Ecosystem
* [Michelle Gill](/company/team/#m_gill) - Backend Engineering Manager, Create:Source Code
* [Roman Kuba](/company/team/#rkuba)  Frontend Engineering Manager, Create:Editor & Create Knowledge
* [André Luís](/company/team/#andr3) - Frontend Engineering Manager, Create:Source Code
* [Jean du Plessis](/company/team/#jeanduplessis) - Backend Engineering Manager, Create:Static Site Editor & Gitter
* [Darva Satcher](/company/team/#dsatcher) - Backend Engineering Manager, Create:Editor & Create Knowledge (Acting)
* [Zeger-Jan van de Weg](/company/team/#zj-gitlab) - Backend Engineering Manager, Gitaly

# Learn About Our Products

## Create:Source Code

<figure class="video_container">
  <iframe src="https://www.youtube.com/embed?v=78_in257-AE&list=PL05JrBw4t0KqLWXT14d0V1OWRMDPfmdxU" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

## Gitaly 

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed?v=6wyFlBN3vp0" frameborder="0" allowfullscreen="true"> </iframe>
</figure>

## Create:Knowledge

<figure class="video_container">
  <iframe src="https://www.youtube.com/embed?v=09-Euw_ssSc" frameborder="0" allowfullscreen="true"> </iframe>
</figure>

## Create: Static Site Editor

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed?v=2GFkNcFXCcc" frameborder="0" allowfullscreen="true"> </iframe>
</figure>

## Create:Editor

<figure class="video_container">
  <iframe src="https://www.youtube.com/embed?v=9g1Hzc4rWEY" frameborder="0" allowfullscreen="true"> </iframe>
</figure>

## Gitter

<figure class="video_container">
  <iframe src="https://www.youtube.com/embed?v=ZZ5EwGfNB40" frameborder="0" allowfullscreen="true"> </iframe>
</figure>



  
